@model SqApp.ViewModels.DetailsViewModel

<link rel="stylesheet" type="text/css" href="~/css/tovar.css">
<link rel="stylesheet" href="~/css/slider.css">
<link rel="stylesheet" type="text/css" href="~/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="~/slick/slick-theme.css" />


<content>
    <form class="sect-search">
        <a href="~/Store/Shop" class="shop">Магазин</a>
        <input type="text" class="search" required>
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <div class="sect-nav">
        <ul>
            @foreach (var t in Model.Categories)
            {
                <li><a href="~/Store/ShopMenu/@t.Id">@t.Name</a></li>
            }
        </ul>
    </div>
    <div class="sect-nas">
        <a href="~/Store/Shop">Magazin</a>
        <a href="~/Store/ShopMenu/@ViewBag.Id"><i class="fas fa-arrow-right"></i>@ViewBag.Name</a>
    </div>

    <div class="sect-tovar">
        <div class="tov-vid">
            <div class="tov-slider">
                <div class="mySlides">
                    <img src="~/PublicImages/@Model.Products.PublicImage">
                </div>
                @foreach (var i in Model.ProductImages)
                {
                    <div class="mySlides">
                        <img src="~/ProductImages/@i.Url">
                    </div>
                }

                <div class="row">
                    <div class="column">
                        <img class="demo cursor" src="~/PublicImages/@Model.Products.PublicImage" alt="The Woods">
                    </div>
                    @foreach (var i in Model.ProductImages)
                    {
                        <div class="column">
                            <img class="demo cursor" src="~/ProductImages/@i.Url" alt="The Woods">
                        </div>
                    }
                </div>
            </div>
            <div class="tov-text">
                <h2>@Model.Products.Name</h2>
                <p class="price">Цена <span>@Model.Products.Price тг</span></p>
                <a href="~/Account/Login" class="buy">Купить</a>
                <ul>
                    <li>Одобрение онлайн</li>
                    <li>Высокий уровень одобрения</li>
                    <li>Возврат в течение 14 дней</li>
                </ul>
                <ul>
                    <li>@Model.Products.FirstInfo;</li>
                    @{
                        if (Model.Products.Info1 != null)
                        {
                            <li>@Model.Products.Info1;</li>
                        }
                        if (Model.Products.Info2 != null)
                        {
                            <li>@Model.Products.Info2;</li>
                        }
                        if (Model.Products.Info3 != null)
                        {
                            <li>@Model.Products.Info3;</li>
                        }
                        if (Model.Products.Info4 != null)
                        {
                            <li>@Model.Products.Info4;</li>
                        }
                        if (Model.Products.Info5 != null)
                        {
                            <li>@Model.Products.Info5.</li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="tov-har">
            <div class="tab-header">
                <div class="tab-h tab-active" data-tab="0">Отзывы</div>
                <div class="tab-h" data-tab="1">Характеристики</div>
            </div>
            <div class="tab-body">
                <div class="tab-b first">
                    <h2>Отзывы о @Model.Products.Name</h2>
                    @foreach (var b in Model.Comments)
                    {
                        <div class="otz-cont">
                            <p>@b.UserName<br><span>@b.DTime.ToShortDateString()</span></p>
                            @{
                                <div class="comment-text">
                                    @{
                                        if (b.BadText != null)
                                        {
                                            <p><span style="font-weight:700">Недостатки: </span>@b.BadText</p>
                                        }

                                        if (b.CommentText != null)
                                        {
                                            <p><span style="font-weight:700">Комментарии: </span>@b.CommentText</p>
                                        }
                                        if (b.GoodText != null)
                                        {
                                            <p><span style="font-weight:700">Достоинство: </span>@b.GoodText</p>
                                        }
                                    }
                                </div>
                            }

                        </div>
                    }

                </div>
                <div class="tab-b">
                    <h2>Характеристики @Model.Products.Name</h2>
                    @foreach (var t in Model.ProductInfos)
                    {
                        <dl>
                            <dt>@t.InfoName</dt>
                            <dd>
                                @foreach (var s in t.InProductInfos)
                                {
                                     <dl>
                                        <dt><span class="spec">@s.InfoName</span></dt><dd>@s.InfoValue</dd>
                                     </dl>

                                }
                            </dd>
                        </dl>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="tovars nedavno">
        <h2>Вы недавно смотрели</h2>
        <div class="responsive">
            @foreach (var t in Model.Productes)
            {
                <div class="tovar">
                    <a href="~/Store/Details/@t.Id" class="tov-img">
                        <img src="~/PublicImages/@t.PublicImage" alt="">
                    </a>
                    <a href="~/Store/Details/@t.Id" class="tovar-name">@t.Name</a>
                    <p class="price">Цена <span>@t.Price тг</span></p>
                </div>
            }
        </div>
    </div>
    <div class="tovars">
        <h2>Рекомендуемые</h2>
        <div class="responsive">
            @foreach (var t in Model.Productes)
            {
                <div class="tovar">
                    <a href="~/Store/Details/@t.Id" class="tov-img">
                        <img src="~/PublicImages/@t.PublicImage" alt="">
                    </a>
                    <a href="~/Store/Details/@t.Id" class="tovar-name">@t.Name</a>
                    <p class="price">Цена <span>@t.Price тг</span></p>
                </div>
            }
        </div>
    </div>
</content>

<script src="~/js/slider.min.js"></script>
<script type="text/javascript" src="~/slick/slick.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('.column').on('click', function currentSlide() {
            showSlides(slideIndex = $(this).index() + 1);
        });

        $('.row').slick({
            dots: false,
            infinite: false,
            speed: 1000,
            slidesToShow: 5,
            slidesToScroll: 5,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 4,
                        infinite: false,
                        dots: false
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 4
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 4
                    }
                },

                {
                    breakpoint: 400,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3
                    }
                }
            ]
        });

        $('.responsive').slick({
            dots: false,
            infinite: false,
            speed: 1000,
            slidesToShow: 5,
            slidesToScroll: 5,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 4,
                        infinite: false,
                        dots: false
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                }
            ]
        });
    })
    window.onload = function () {
        document.querySelector('.tab-header').onclick = function (event) {
            console.log(event.target.getAttribute('data-tab'));
            if (event.target.className == 'tab-h') {
                var dataTab = event.target.getAttribute('data-tab');
                var tabB = document.getElementsByClassName('tab-b');
                var tabH = document.getElementsByClassName('tab-h');

                for (var i = 0; i < tabH.length; i++) {
                    tabH[i].classList.remove('tab-active');
                }
                event.target.classList.add('tab-active');
                for (var j = 0; j < tabB.length; j++) {
                    if (dataTab == j) {
                        tabB[j].style.display = 'block';
                    }
                    else {
                        tabB[j].style.display = 'none';
                    }
                }
            }
        }
    }

    var slideIndex = 1;
    var column = document.querySelector('.column');
    showSlides(slideIndex);

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
    
</script>