@model SqApp.ViewModels.ShopViewModel

<link rel="stylesheet" href="~/css/shop.css">
<link rel="stylesheet" href="~/css/slider.css">
<link rel="stylesheet" type="text/css" href="~/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="~/slick/slick-theme.css" />


<content>
    <form class="sect-search">
        <a href="~/Store/Shop" class="shop">Магазин</a>
        <input type="text" class="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <div class="sect-nav">
        <ul>
            @foreach(var p in Model.Categories){ 
                <li><a href="~/Store/ShopMenu/@p.Id?page=1">@p.Name</a></li>
            }
            @*<li><a href="~/Store/ShopMenu">Автотовары</a></li>
            <li><a href="~/Store/ShopMenu">Украшения, аксессуары</a></li>
            <li><a href="~/Store/ShopMenu">Красота, здоровье</a></li>
            <li><a href="~/Store/ShopMenu">Телефоны, гаджеты</a></li>
            <li><a href="~/Store/ShopMenu">ТВ, аудио, видео</a></li>
            <li><a href="~/Store/ShopMenu">Компьютеры</a></li>
            <li><a href="~/Store/ShopMenu">Досуг, туризм</a></li>
            <li><a href="~/Store/ShopMenu">Мебель</a></li>
            <li><a href="~/Store/ShopMenu">Бытовая техника</a></li>
            <li><a href="~/Store/ShopMenu">Строительство, ремонт</a></li>*@
        </ul>
    </div>
    <div class="baner">
        <div class="slider ban-slider">
            <div class="slItems">
                <div class="slItem">
                    <p>TEXT 1</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, doloribus.</p>
                </div>
                <div class="slItem">
                    <p>TEXT 2</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, doloribus.</p>
                </div>
                <div class="slItem">
                    <p>TEXT 3</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, doloribus.</p>
                </div>
                <div class="slItem">
                    <p>TEXT 4</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, doloribus.</p>
                </div>
                <div class="slItem">
                    <p>TEXT 5</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, doloribus.</p>
                </div>
                <div class="slItem">
                    <p>TEXT 6</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, doloribus.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="tovars nedavno">
        <h2>Вы недавно смотрели</h2>
        <div class="responsive">
            @foreach (var t in Model.Products)
            {
                <div class="tovar">
                    <a href="~/Store/Details/@t.Id" class="tov-img">
                        <img src="~/PublicImages/@t.PublicImage" alt="">
                    </a>
                    <a href="~/Store/Details/@t.Id" class="tovar-name">@t.Name</a>
                    <p class="price">Цена <span>@t.Price тг</span></p>
                </div>
            }
        </div>
    </div>
    <div class="tovars">
        <h2>Рекомендуемые</h2>
        <div class="responsive">
            @foreach (var t in Model.Products)
            {
                <div class="tovar">
                    <a href="~/Store/Details/@t.Id" class="tov-img">
                        <img src="~/PublicImages/@t.PublicImage" alt="">
                    </a>
                    <a href="~/Store/Details/@t.Id" class="tovar-name">@t.Name</a>
                    <p class="price">Цена <span>@t.Price тг</span></p>
                </div>
            }
        </div>
    </div>

</content>


<script src="~/js/slider.min.js"></script>
<script type="text/javascript" src="~/slick/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.responsive').slick({
            dots: false,
            infinite: false,
            speed: 2500,
            slidesToShow: 5,
            slidesToScroll: 5,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 4,
                        infinite: false,
                        dots: false
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 4
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                }
            ]
        });
        $(function () {
            $('.ban-slider').rbtSlider({
                'height': '100%',
                'dots': true,
                'arrows': true,
                'auto': 3
            });
        });
        $(function () {
            $('.sect-cont').rbtSlider({
                'height': '100%',
                'dots': false,
                'arrows': true,
                'auto': 0
            });
        });
    });
</script>