@model SqApp.ViewModels.ShopMenuViewModel;

<link rel="stylesheet" href="~/css/shop-menu.css">

<content>
    <form class="sect-search">
        <a href="shop.html" class="shop">Магазин</a>
        <input type="text" class="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <div class="sect-nav">
        <ul>
            @foreach (var p in Model.Categories)
            {
                <li><a href="~/Store/ShopMenu/@p.Id?page=1">@p.Name</a></li>
            }
        </ul>
    </div>
    <div class="sect-cont">
        <div class="sect-nas">
            <a href="~/Store/Shop">Magazin</a>
            <a href="~/Store/ShopMenu/@ViewBag.Id?page=1"><i class="fas fa-arrow-right"></i>@ViewBag.Name</a>
            @*<a href="#!" class="nas-active"><i class="fas fa-arrow-right"></i>Chasy</a>*@
        </div>
        <div class="tovars">
            @foreach (var t in Model.Products)
            {
                <div class="tovar">
                    <a href="~/Store/Details/@t.Id" class="tov-img">
                        <img src="https://kaspi.kz/medias/sys_master/images/images/h72/hb6/9743794503710/casio-mtp-1374l-1avdf-black-21400996-1.png" alt="">
                    </a>
                    <a href="~/Store/Details/@t.Id" class="tovar-name">@*@t.Name*@ lsadasd asd asdas asdasdasd asdasd </a>
                    <div class="price">
                        <p>Цена<br /><span>@t.Price тг</span></p>
                        <p>Мин.Заказ<br /><span>15</span></p>
                    </div>
                </div>
            }
        </div>
        <div class="sect-pages">
            @if (Model.Pager.CurrentPage > 1)
            {
                <a href="~/Store/ShopMenu/@ViewBag.Id?page=@(Model.Pager.CurrentPage - 1)" class="prev @*page-passive*@"><i class="fas fa-arrow-left"></i>prev</a>
            }

            @for (var pg = Model.Pager.StartPage; pg <= Model.Pager.EndPage; pg++)
            {

                if (pg == ViewBag.Page)
                {
                    <a href="~/Store/ShopMenu/@ViewBag.Id?page=@pg" class="page-act">@pg</a>
                }
                else
                {
                    <a href="~/Store/ShopMenu/@ViewBag.Id?page=@pg">@pg</a>
                }
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <a href="~/Store/ShopMenu/@ViewBag.Id?page=@(Model.Pager.CurrentPage + 1)" class="next">next<i class="fas fa-arrow-right"></i></a>
            }

        </div>
    </div>
</content>

<script type="text/javascript">
    $(document).ready(function () {
        $('.page-act, .nas-active').on('click', function (e) {
            e.preventDefault();
        })
    })
</script>